In [7]:
import numpy as np
import pandas as pd
import pygal
from pygal.style import Style

# import pygal.maps.world

In [8]:
data =pd.read_csv('nuclear-energy-generation.csv')

In [9]:
data[data.Code.notna() ]

           Entity Code  Year  Electricity from nuclear (TWh)
0     Afghanistan  AFG  2000                             0.0
1     Afghanistan  AFG  2001                             0.0
2     Afghanistan  AFG  2002                             0.0
3     Afghanistan  AFG  2003                             0.0
4     Afghanistan  AFG  2004                             0.0
...           ...  ...   ...                             ...
7989     Zimbabwe  ZWE  2016                             0.0
7990     Zimbabwe  ZWE  2017                             0.0
7991     Zimbabwe  ZWE  2018                             0.0
7992     Zimbabwe  ZWE  2019                             0.0
7993     Zimbabwe  ZWE  2020                             0.0

[7038 rows x 4 columns]

In [10]:
data = data[(data.Year == 2021) & (data['Electricity from nuclear (TWh)'] > 100) & (data.Code.notna()) & (data.Code != 'OWID_WRL') ]

In [11]:
# converting data dataframe to dictionary
from collections import OrderedDict, defaultdict
data = data[['Code', 'Electricity from nuclear (TWh)']]
data

     Code  Electricity from nuclear (TWh)
1442  CHN                          407.47
2496  FRA                          379.21
5972  RUS                          222.43
6630  KOR                          150.14
7568  USA                          778.15

In [12]:
# World map
# custom style
custom_style = Style( colors = ('#FF0000' ,'#0000FF' , '#00FF00', '#000000', '#FFD700'))
worldmap =  pygal.maps.world.World(style = custom_style)

# title
worldmap.title = 'cos'
worldmap.add('counties', data)
worldmap.render_to_png('image.png')